/*CORES*********

azul claro, a cor principal (logo + btns dowloads + Titulo Equipe) 
>> #0066CC

Azul escuro (Fonte Título h3) 
>> #003366


Cor dos textos em geral <p> 
>> #333333

Cor Marrom escuro quase preto da fonte rodapé:
#222220

*/
html {
  font-size: 16px;
}

/* Resets personalizados */
p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  color: #333333;
}

nav {
  width: 100%;
  margin: 0;
  padding: 40px 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
  transition: 1s all ease;
}

nav img.logo-nav {
  max-width: 20%;
}

nav ul {
  list-style: none;
  margin: 0;
  margin-right: 50px;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
}

nav ul li a.download {
  background-color: #0066CC;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}


nav img.menu {
  display: none;
}

@media (max-width: 768px) {
  nav {
    padding: 20px 0;
  }
  nav img.logo-nav {
    max-width: 30%;
  }
  nav ul {
    display: none;
  }
  nav img.menu {
    display: block;
    max-width: 25px;
  }
}

div.o-que-e {
  position: relative;
  max-width: 820px;
  text-align: left;
  margin: 0 auto;
}
div.o-que-e h2 {
  color: #003366;
}
div.o-que-e p {
  font-size: 16px;
}

div.card {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 850px;
  margin: 30 auto;
  padding: 5px 20px 5px 20px;
}
div.card #cardstyle {
  width: 283px;
  height: 300px;
  border: 1px solid #4a7093;
  background-color: #f0f7f7;
}
div.card #cardstyle a img {
  width: 200px;
  margin: 15 10 0 45;
}
div.card p {
  width: 180px;
  font-size: 16px;
  margin: 15 10 0 45;
}

.comobtn {
  margin: 20 auto;
  display: block;
  background-color: #0066CC;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 25px;
  padding: 5px 5px;
}

section.quem-fez {
  background-image: url("../img/background-large.png");
  background-size: cover;
}

section.quem-fez div.title-section {
  width: 850px;
  margin: 0 auto;
  padding: 40px 0;
}

section.quem-fez div.title-section h2 {
  margin: 0 0 0 30px;
  color: #0066CC;
}

section.quem-fez div.title-section p {
  margin: 0 0 0 30px;
}

section.quem-fez div.equipe {
  box-shadow: -1px 2px 15px 2px rgba(0, 0, 0, 0.75);
  width: 850px;
  margin: 0 auto;
}

section.quem-fez div.equipe div.cards {
  display: flex;
  justify-content: center;
}

section.quem-fez div.equipe div.cards div {
  width: 170px;
  background-color: #ffffff;
}

section.quem-fez div.equipe div.cards div img {
  width: 100%;
}

section.quem-fez div.equipe div.cards div p {
  margin: 5px 0 60px 10px;



footer {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  background: #ffffff;
}

footer .logo-footer {
  max-width: 130px;
  margin: 50px 0 0 0;
}

footer p {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 768px) {
  footer .logo-footer {
    max-width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */

