body{
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

footer{
    width: 500px;
    margin: 30px auto;
    text-align: center;
    background: white;
    

    img{
        width: 185px;
    }

    p{
        margin: 0;
        font-weight: bold;
    }
}

